.env
.env.*

# Python cache and compiled files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
.venv/
venv/
env/

# SQLite and DB files
*.db
*.sqlite
*.sqlite3

# Editor and system files
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Byte-compiled directories
*.egg-info/
build/
dist/